/* Style Guide
Primary Color: Burgundy
Secondary Color: teal
*/

body{
  background: plum;
}

h1{
  color:teal;
  font-family: 'Bowlby One SC', cursive;
  font-size: 48px;
  letter-spacing: 100px;
  text-align: center;
}

p{
  color:#8C001A;
}

img{
  width:100%;
}